<div class="container-fluid" id="manage-body">

	<span id="manage-home-logo" class="pull-left fa fa-folder-open-o"></span>
	<a href="/user/{{currentUser}}/service" class="pull-right nav-item">Service<div class="active animated flash"></div></a>
	<a href="/user/{{currentUser}}" class="pull-right nav-item">Manager</a>
	<div>
		<div class="text-center" id="service-head-bar">
			<h2>Products For Sale</h2>
		</div>
		<div id="service-well" class="well text-center">
		<form>
			<select class="product-select">
				<option></option>
				{{#each products}}
					<option>{{this.name}} * {{this.quantity}} * ${{this.price}}</option>
				{{/each}}
			</select>
			<input type="text" id="amountToSell" value="0">
		</form>
				<button class="btn btn-success" id="addCart">Add To Cart</button>
				<input type="hidden" id="currentUser" value="{{currentUser}}">
				<button id="openModBtn" type="submit" class="btn btn-info" data-toggle='modal' data-target='#trans-modal'>Checkout</button>
	
		</div>
		<!-- Modal -->
		<div id="trans-modal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">Cancel</button>
						<h4 class="modal-title">Checkout</h4>
					</div>
					<div class="modal-body">
						<div id="transactionDiv"></div>
						<button id="finalBuy" class="btn btn-success">Buy Now</button>
					</div>
				</div>

			</div>
		</div>
		
	</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- JQuery -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/service.js"></script>